@page "/"
@using System.IO
@using BlazorAppCamera.Data

@inject CameraService CameraService

<h1>Camera test</h1>
<button class="btn btn-primary" @onclick="GetFrame">Get image</button>

<img src="@_imageString" alt="Image">

@code
{

    private string _imageString = null;
    public void GetFrame()
    {
        CameraService.StartGrab(ImageArrived);
    }

    void ImageArrived(byte[] bytes)
    {
        _imageString = $"data:image/png;base64,{Convert.ToBase64String(bytes)}";
    }
}