@page "/"
@using System.IO
@using BlazorAppCamera.Data

@inject CameraService CameraService

<h1>Camera test</h1>
<button class="btn btn-primary" @onclick="GetFrame">Get image</button>

<img src="@imageString" alt="Image">

@code
{

    private string imageString = null;
    public void GetFrame()
    {
        CameraService.StartGrab(ImageArrived, 1);

        ImageArrived("example.jpg");
    }

    void ImageArrived(string path)
    {
        var bytes = File.ReadAllBytes(path);
        imageString = $"data:image/png;base64,{Convert.ToBase64String(bytes)}";
    }
}